body{
    background-color: antiquewhite;
}

.container{
    display: flex;
    width: 800px;
    height: 600px;
    background-color: white;
}

.card{
    border: none;
    margin: 30px;
    width: 400px;

}

.signup{
    display: block;
}
.email{
    width: 300px;
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
   
}

.btn-primary{
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.signupp {
    display: inline;
}
.img{
    margin:20px;
    width: 45%;
}

.btn-light{
    width: 110px;
    margin-left: 40px;
}

